a{
    text-decoration: none;
}
*{
    padding:0;
    margin:0;
}
p{
    margin-bottom:0;
}
ul,ol{
    list-style-type: none;
}
.clr   {
    clear:both;
}

.navbar{
    background: #3eba6d;
    
    width:100%;
    z-index: 9999999;
    border-bottom:1px solid #a9a9a9;
    height:80px;
}

.nav-link{
    position: relative;
    
}
.nav-link a::after{
    position: absolute;
    
}
.nav-link:hover{
    color: #000;
    
}
.nav-link:hover:after{
    opacity: 1;
    
    height:44px;
}
.navbar-brand {

   
    
}

.nav-item{
    padding-right:20px;
}
.nav-link{
    font-family: 'Playfair Display', serif;
    color:#000;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    display:block;
    
}
.nav-link::after{
    position: absolute;
    content: '';
    height:0px;
    border-radius: 5px;
    width:100%;
    background: rgba(255, 254, 254, 0.45);
    bottom:0;
    left:0;
    transition: all .4s linear;
    opacity: 0;
    z-index: -1;
    
}
.btn-new{
    font-family: 'Playfair Display', serif;
    padding:10px 14px;
    border:1px solid #222;
    transition: all linear .3s;
}
.btn-new:hover{
    background: rgba(255, 254, 254, 0.45);
}
#banner{
    background: #92b48d;
    
/*    background-attachment: fixed;*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 440px;
    z-index: -1;
/*    height:80vh;*/
}
.bnr{
    position: relative;
}
.bannerimg {
	position: absolute;
	top: -12px;
	right: 86px;
	
}
.bannerimg img{
    height:450px;
}
.banner-text{
    padding-left:50px;
    margin-top: -82px;
}
.banner-text h2{
    font-family: 'Playfair Display', serif;
    color:#000;
    font-size: 54px;
    font-weight: 400;
    margin-top: 198px;
    
    padding-left:15px;
    padding-bottom: 6px;
    
}
.banner-text p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 16px;
	padding-right: 196px;
	padding-bottom: 174px;
	padding-left: 15px;
	margin-right: 40px;
	padding-top: 24px;
}

.txtbg h2{
    background: rgba(54, 47, 47, 0.24);
    border-radius: 8px;
}
